* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  
  /* ACRESCENTANDO VARIÁVEIS DE COR */

  --hue: 240;
  --background-main-text: hsl(var(--hue), 0%, 100%);
  --background-color-one: hsl(199, 88%, 87%);
  --background-color-two: hsl(217, 96%, 81%);
  --input-background-color: hsl(212, 23%, 89%);
  --button-background-color: hsl(var(--hue), 81%, 71%);
  --button-hover-background-color: hsl(var(--hue), 52%, 60%);
  --main-text-color: hsl(238, 27%, 28%);
}

body {
  font-size: 1.6rem;

  background: linear-gradient(
    287.56deg,
    var(--background-color-one) 0%,
    var(--background-color-two) 100%
  );

  /*   display: flex;
  justify-content: center;
  align-items: center;
  */

  display: grid;
  place-items: center;

  height: 100vh;
}

body,
button,
input {
  font-family: 'DM Sans', sans-serif;
}

button {
  color: var(--background-main-text);
  font-size: 1.6rem;
  font-weight: 700;

  background-color: var(--button-background-color);

  border-radius: 0 0.4rem 0.4rem 0;

  cursor: pointer;

  transition: background 0.3s;
}

button:hover {
  background-color: var(--button-hover-background-color);
}

.hide {
  display: none;
}

main {
  text-align: center;

  background: #ffffff;
  box-shadow: 0px 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;

  padding: 4.8rem 6.4rem 6.4rem;

  width: min(42.8rem, 90%);

  margin-top: -12rem;
}

/* ------- screen 1 ---- */

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.4rem;
}

h1,
p {
  color: var(--main-text-color);
}

p {
  opacity: 0.8;

  margin-top: 1.6rem;
}

form {
  margin-top: 2.3rem;

  display: flex;
  justify-content: center;
}

input,
button {
  border: none;
  padding: 1.6rem;
}

input {
  background-color: var(--input-background-color);

  width: 7rem;

  border-radius: 0.4rem 0 0 0.4rem;
}

/* ------- screen 2 ---- */

h2 {
  font-size: 2.4rem;
  font-weight: 400;
}

.screen2 button {
  border-radius: 0.4rem;

  margin-top: 3.3rem;
}

/*  ACRESCENTANDO OS ALERTAS */

/* ------- alert items ------*/

p.alerting {
  color: var(--background-main-text);
  font-size: 2rem;
  font-weight: 400;

  background-color: var(--button-background-color);

  padding: 1.2rem 1.6rem;
  margin-top: 2.3rem;

  border-radius: 0.4rem;

  transition: background 0.3s;
}

p.lastResults {
  font-size: 1.8rem;

  margin-top: 2.3rem;
}

p.lastResults span {
  color: var(--button-background-color);
}
